header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15%;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.logo-nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.head-logo {
  height: 70px;
  width: 110px;
}

.head-logo:hover {
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

.head-button {
  border: 2px solid rgb(90, 84, 84);
  border-radius: 5px;
  font-size: 15px;
  margin-left: 50px;
}

.head-button:hover {
  background-color: rgb(90, 84, 84);
  color: rgb(235, 235, 235);
}

.not-active {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 40px;
  color: rgb(90, 84, 84);
}

.not-active:hover {
  color: rgb(235, 235, 235);
  font-weight: bold;
}

@media (max-width: 1200px) {
  header {
    height: 12.5%;
  }
  .head-button {
    margin-left: 25px;
  }
}

@media (max-width: 700px) {
  header {
    height: 10%;
  }
  .logo-nav {
    width: 95%;
  }
  .head-logo {
    height: 50px;
    width: 75px;
  }
  .not-active {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .not-active {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .head-button {
    margin: 0px 2.5px;
  }
  .head-logo {
    height: 42.5px;
    width: 62.5px;
  }
}
