* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 15%;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.logo-nav {
  width: 80%;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.head-logo {
  height: 125px;
  width: 150px;
}

.head-logo:hover {
  cursor: pointer;
}

img {
  height: 100%;
  width: 115%;
}

.head-button {
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  border: 7px double rgb(90, 84, 84);
  border-radius: 15px 5px 15px 5px;
  font-size: 15px;
  margin-left: 50px;
}

.active {
  text-decoration: none;
}

.not-active {
  text-decoration: none;
  color: rgb(90, 84, 84);
}

@media (max-width: 1200px) {
  header {
    height: 12.5%;
  }
  .head-button {
    margin-left: 25px;
  }
}

@media (max-width: 700px) {
  header {
    height: 10%;
  }
  .head-button {
    margin: 0px 5px;
    font-size: 10px;
  }
  .logo-nav {
    width: 95%;
  }
}

@media (max-width: 440px) {
  .head-button {
    margin: 0px 2.5px;
    font-size: 7.5px;
  }
  .logo-nav {
    width: 100%;
  }
  img {
    height: 70%;
    width: 85%;
    margin-top: 17px;
  }
}
