.create-container {
  height: 80%;
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-title {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
  border-bottom: 2px solid rgb(235, 235, 235);
  padding: 0 0 25px 0;
  color: rgb(235, 235, 235);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 25px 0;
  height: 175px;
  width: 75%;
}

.create-button {
  text-align: center;
  width: 305px;
  height: 80px;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: rgb(235, 235, 235);
  border: 2px solid rgb(235, 235, 235);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}

.create-button > span {
  font-size: 12px;
  font-weight: normal;
}

.create-button:hover,
.create-button:focus {
  cursor: pointer;
  color: rgb(128, 128, 128);
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(235, 235, 235);
  font-size: 30px;
  font-weight: bold;
  outline: none;
}

.program-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78.5%;
  height: 45%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid rgb(235, 235, 235);
}

.ex {
  color: rgb(235, 235, 235);
}

.days {
  padding-left: 7.5%;
  background-color: rgb(235, 235, 235);
  color: rgb(128, 128, 128);
  font-size: 25px;
  margin: 25px 0 25px 0;
  line-height: 50px;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
}

.ex-title {
  width: 85%;
  margin: 0px auto;
  padding: 10px 0 10px 0;
  font-weight: normal;
  border-bottom: 1px solid rgb(235, 235, 235);
  font-size: 20px;
  letter-spacing: 1px;
}

.ex-description {
  width: 85%;
  margin: 0px auto;
  padding: 10px 0 10px 0;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

@media (max-width: 950px) {
  .days {
    font-size: 15px;
  }
  .ex-title {
    font-size: 15px;
  }
  .ex-description {
    font-size: 13px;
  }
}

@media (max-width: 701px) {
  .program-container {
    width: 92.5%;
  }
}

@media (max-width: 530px) {
  .days {
    font-size: 11px;
    padding-left: 2.5%;
  }
  .ex-title {
    font-size: 12px;
    font-weight: bold;
    width: 95%;
  }
  .ex-description {
    font-size: 11px;
    width: 95%;
  }
}

@media (max-width: 367px) {
  .days {
    line-height: 18px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
  }
}
