* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 84%;
  width: 100%;
  min-width: 418px;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 70%;
  width: 100%;
  margin-top: 5%;
}

.body-info {
  height: 300px;
  width: 300px;
}

.body-header {
  color: rgb(235, 235, 235);
  margin-top: 35px;
  text-align: center;
}

#body-paragraph {
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 50px;
  font-size: 12px;
  line-height: 30px;
}

ul {
  margin: 15px;
}

ul li {
  border-bottom: 3px solid rgb(235, 235, 235);
  padding: 3px 0 3px 0;
  color: rgb(235, 235, 235);
  list-style-type: none;
}

.image-container {
  background-image: url("./barbell_invert_image.png");
  height: 300px;
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 300px;
}

@media (max-width: 440px) {
  .main-container {
    width: 100%;
  }
  .image-container {
    height: 151px;
    width: 100px;
    min-width: 175px;
  }
  .body-info {
    height: 250px;
    width: 250px;
  }
  .body-header {
    margin-top: 25px;
    font-size: 15px;
  }
  #body-paragraph {
    text-align: center;
    letter-spacing: 0.5px;
    margin: 10px 40px;
    font-size: 10px;
    line-height: 20px;
  }
  ul li {
    border-bottom: 1.5px solid rgb(235, 235, 235);
    padding: 3px 0 3px 0;
  }
}
